<ion-toolbar class="new-background-color">
  <ion-item lines="none" class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #2b0c43"></ion-menu-button>
    </ion-buttons>
    <ion-title style=" color: #2b0c43">Search Resumes</ion-title>
    <ion-icon name="notifications"></ion-icon>

  </ion-item>
</ion-toolbar>

<ion-content>

    <h5 align="center" style="margin-top:50%">Coming Soon...!</h5>

<!--   
  <div class="inputDiv">

    <ion-item class="inoItem" style="margin-top:20px">
      <ion-label position="floating">
        JobTitle / Skill
      </ion-label>
      <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle"></ion-input>
    </ion-item>


    <ion-item class="inoItem">
      <ion-label position="floating">
        Location
      </ion-label>
      <ion-input type="text" name="location" [(ngModel)]="location"></ion-input>
    </ion-item>

    <ion-row>
      <ion-col size="6">
        <ion-select placeholder="Min Experience" class="ionSelectBorder inoItem" (ionChange)="selectedGenderValue($event)">
          <ion-select-option *ngFor="let item of contactGenderArray; let i = index" [selected]="i == selectedGenderIndex" [value]="item">
            {{item}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-select placeholder="Max Experience" class="ionSelectBorder inoItem" (ionChange)="selectedGenderValue($event)">
          <ion-select-option *ngFor="let item of contactGenderArray; let i = index" [selected]="i == selectedGenderIndex" [value]="item">
            {{item}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col size="6">
        <ion-select placeholder="Min Salary" class="ionSelectBorder inoItem custom-placeholder" (ionChange)="selectedGenderValue($event)">
          <ion-select-option *ngFor="let item of contactGenderArray; let i = index" [selected]="i == selectedGenderIndex" [value]="item">
            {{item}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="6">
        <ion-select placeholder="Max Salary" class="ionSelectBorder inoItem custom-placeholder" (ionChange)="selectedGenderValue($event)">
          <ion-select-option *ngFor="let item of contactGenderArray; let i = index" [selected]="i == selectedGenderIndex" [value]="item">
            {{item}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>

    <ion-select placeholder="Disability Accepted" class="ionSelectBorder inoItem" (ionChange)="selectedGenderValue($event)">
      <ion-select-option *ngFor="let item of contactGenderArray; let i = index" [selected]="i == selectedGenderIndex" [value]="item">
        {{item}}</ion-select-option>
    </ion-select>

  </div>
  <div class="saveButtonPadding">
    <button class="buttonfont">Search</button>
  </div> -->

</ion-content>