
.cardMargins{
    margin-bottom: 0px; 
    border-radius: 0px;
    width:100%;
    -webkit-margin-start: 0px;
    margin-top:0px;
}

.centerAlign{
    text-align : center
}

.cardHeading{
    color:#2b0c43;
    font-size:16px;
    font-weight:bold;
}

.avatar-border-color{
    img{ 
        border:solid 2px #2b0c43;
    }
    margin:auto;
    height: 75px;
    width: 75px;
}

.headerTitle{
    margin-left: 10%; color: #2b0c43;
    padding: 5% 0% 0% 0%
}

.ionCol{
    padding: 4% 5% 4% 4%;
}

.labelReadMore{
    font-size: 16px;
    color: #4a90e2;
}

.deleteStory{
    font-size: x-large;
    padding: 5%;
    float: right;
}
    
#notifications-badge-success{
        background-color: red;
        position: absolute;
        top: 12%;
        right: 30%;
        width: 35%;
        height: 30%;
        border-radius: 100%;
    }