<ion-toolbar class="new-background-color">
  <ion-buttons slot="start">
    <ion-menu-button></ion-menu-button>
  </ion-buttons>
  <ion-item lines="none" class="new-background-color" style="color: #2b0c43">
    <ion-title>
      Change Password
    </ion-title>
    <ion-icon class="headerNameCss" name="notifications" (click)="navigateToNotification()" aria-label="notifications button" alt="notifications button"></ion-icon>
    <ion-badge *ngIf="badgecount != 0" id="notifications-badge" color="danger">{{badgecount}}</ion-badge>
  </ion-item>
</ion-toolbar>

<ion-content>
  <ion-card class="cardMargins" style="height: 100%;">
    <ion-card-content>
      <form [formGroup]="changePasswordForm" (ngSubmit)="submit(changePasswordForm.value)">

        <mat-form-field class="inputFields">
          <input type="password"  matInput placeholder="Current Password"  formControlName="currentPassword"
            pattern=".*[^ ].*">
          <mat-icon matSuffix color="warn"
            *ngIf="(changePasswordForm.controls.currentPassword.invalid && changePasswordForm.controls.currentPassword.touched) || (changePasswordForm.controls.currentPassword.invalid && showErrorIcon && !changePasswordForm.controls.currentPassword.touched)">
            error
          </mat-icon>
          <mat-error>
            <span *ngIf="changePasswordForm.controls.currentPassword.errors?.required">Current Password is
              required.</span>
            <span *ngIf="changePasswordForm.controls.currentPassword.errors?.pattern">Please enter valid current
              password.</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inputFields">
          <input type="password"  matInput placeholder="New Password" formControlName="newPassword"
            pattern=".*[^ ].*">
          <mat-icon matSuffix color="warn"
            *ngIf="(changePasswordForm.controls.newPassword.invalid && changePasswordForm.controls.newPassword.touched) || (changePasswordForm.controls.newPassword.invalid && showErrorIcon && !changePasswordForm.controls.newPassword.touched)">
            error
          </mat-icon>
          <mat-error>
            <span *ngIf="changePasswordForm.controls.newPassword.errors?.required">New Password is required.</span>
            <span *ngIf="changePasswordForm.controls.newPassword.errors?.pattern">Please enter valid
              new password.</span>
            <span
              *ngIf="changePasswordForm.controls.newPassword.errors?.minlength && !changePasswordForm.controls.newPassword.errors?.required && !changePasswordForm.controls.newPassword.errors?.pattern">New
              password should be at least 6
              characters long</span>
          </mat-error>
        </mat-form-field>

        <mat-form-field class="inputFields">
          <input type="password" matInput placeholder="Confirm password" formControlName="confirmPassword"
            pattern=".*[^ ].*" [errorStateMatcher]="matcher">
          <mat-icon matSuffix color="warn"
            *ngIf="(changePasswordForm.controls.confirmPassword.invalid && changePasswordForm.controls.confirmPassword.touched) || (changePasswordForm.controls.confirmPassword.invalid && showErrorIcon && !changePasswordForm.controls.confirmPassword.touched)">
            error
          </mat-icon>
          <mat-error>
            <span *ngIf="changePasswordForm.controls.confirmPassword.errors?.required">Confirm password is
              required.</span>

            <!-- <span *ngIf="changePasswordForm.controls.confirmPassword.errors?.pattern">Please enter valid
              confirm password.</span> -->
            <!-- <span *ngIf="changePasswordForm.controls.confirmPassword.errors?.minlength && !changePasswordForm.controls.confirmPassword.errors?.required && !changePasswordForm.controls.confirmPassword.errors?.pattern">Confirm password should be at least 6
                  characters long</span> -->
          </mat-error>
        </mat-form-field>
        <button type="submit" class="buttonfont selector loginButton">SUBMIT</button>

      </form>
    </ion-card-content>
  </ion-card>

  <!-- <div class="inputDiv">
 
    <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row>
    <ion-item class="inoItem" style="margin-top:0%">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10">
            <ion-label position="floating"
              [ngClass]="{'redlabel' : showCurrentPasswordErrorMsg == true, 'blacklabel' : showCurrentPasswordErrorMsg == false}">
              Current password
            </ion-label>
            <ion-input type="password" name="currentPassword" [(ngModel)]="currentPassword"
              (ionChange)="currentPasswordValidator()" required pattern="^[0-9a-zA-Z]{6,}$"></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-img *ngIf="showCurrentPasswordErrorMsg" class="errorimg" src="assets/img/error.png">
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-row>
      <ion-col size="10">
        <p class="errorMsg" *ngIf="showCurrentPasswordErrorMsg" style="margin-top: 0%;">{{currentPasswordErrorMsg}}</p>
      </ion-col>
    </ion-row>



    <ion-item class="inoItem">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10">
            <ion-label position="floating"
              [ngClass]="{'redlabel' : showNewPasswordErrorMsg == true, 'blacklabel' : showNewPasswordErrorMsg == false}">
              New password
            </ion-label>
            <ion-input type="password" name="newPassword" [(ngModel)]="newPassword" (ionChange)="newPasswordValidator()"
              required pattern="^[0-9a-zA-Z]{6,}$">
            </ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-img *ngIf="showNewPasswordErrorMsg" class="errorimg" src="assets/img/error.png">
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-row>
      <ion-col size="10">
        <p class="errorMsg" *ngIf="showNewPasswordErrorMsg" style="margin-top: 0%;">{{newPasswordErrorMsg}}</p>
      </ion-col>
    </ion-row>

    <ion-item class="inoItem">
      <ion-grid fixed>
        <ion-row>
          <ion-col size="10">
            <ion-label position="floating"
              [ngClass]="{'redlabel' : showConfirmPasswordErrorMsg == true, 'blacklabel' : showConfirmPasswordErrorMsg == false}">
              Confirm password
            </ion-label>
            <ion-input type="password" name="confirmPassword" [(ngModel)]="confirmPassword"
              (ionChange)="confirmPasswordValidator()" required pattern="^[0-9a-zA-Z]{6,}$"></ion-input>
          </ion-col>
          <ion-col size="2">
            <ion-img *ngIf="showConfirmPasswordErrorMsg" class="errorimg" src="assets/img/error.png">
            </ion-img>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-item>
    <ion-row>
      <ion-col size="10">
        <p class="errorMsg" *ngIf="showConfirmPasswordErrorMsg" style="margin-top: 0%;">{{confirmPasswordErrorMsg}}</p>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col size="12">
      </ion-col>
    </ion-row>
    <div class="saveButtonPadding">
      <button class="buttonfont" (click)="submit()">Submit</button>
    </div>
  </div> -->
</ion-content>