.bordertask {
    border: 0px black;
    /* border-radius: 4px; */
    /* padding: 5px !important; */
    /* height: 52px; */
}

// element.style {
//     // flex: 0 0 calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
//     // width: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
//     // max-width: calc(calc(2 / var(--ion-grid-columns, 12)) * 100%);
//     justify-content: center; display: flex; align-items: center;
// }



.boxShadow{
    box-shadow: none;
}
