<ion-content class="welcomescreenbackground">

    <!-- <img class="jobabilitylogo" src="../../assets/img/jobabilitylogo_color.png" /> -->
    <img class="jobabilitylogo" aria-label="i2talent logo" alt="i2talent logo"
        src="../../assets/img/jobabilitylogo_color.png">

    <!-- <div text-center class="jobcounttextcss">
        20,000+
    </div>
    <div text-center class="welcometext">
        Jobs for people with disabilities
    </div> -->

    <div text-center style="margin-top: 45%" aria-label="20,000+ Jobs available for people with disabilities">
        <span class="jobcounttextcss">20,000+</span><br>
        <span class="welcometext">Jobs available for people with disabilities</span>
    </div>


    <ion-grid class="bottomposition">
        <ion-row class="rowcss topmargin">
            <ion-col>
                <button class="buttonfont selector" (click)="jobSearchFunction()">FREE JOB SEARCH</button>
            </ion-col>
        </ion-row>

        <ion-row class="rowcss topmargin">
            <ion-col>
                <button class="buttoncss" (click)="signUp()">SIGN UP</button>
            </ion-col>
            <ion-col>
                <button class="buttoncss" (click)="signIn()">LOGIN</button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-content>