// .profile-picture {
//     border: 1px solid rgba(0, 0, 0, 0.25);
//     padding: 3px;
//     border-radius: 100%;
//     -webkit-box-sizing: content-box;
//     -moz-box-sizing: content-box;
//     box-sizing: content-box;
//     margin: 5% auto;
//     width: 100px;
//     height: 100px;
//     overflow: hidden;
//     background: gray;
    
//   }

  // .cameraIcon{
  //   zoom: 2.0;
  //   display: contents;
  // }
  // .fileIcon{
  //   zoom: 2.0;
  //   margin-top: -3%;
   
  // }

    // To dispay carmera icon over profile picture
  // .cameraBacground{
  //   border: 1px solid rgba(0, 0, 0, 0.25);
  //   padding: 4px;
  //   border-radius: 100%;
  //   -webkit-box-sizing: content-box;
  //   -moz-box-sizing: content-box;
  //   box-sizing: content-box;
  //   width: 30px;
  //   height: 30px;
  //   overflow: hidden;
  //   background: #e6e2e2;
  //   margin-left: 53%;
  //   position: absolute;
  // }

  // To Change the positon of plus icon
// .floatRight{
//     float:right;
//     zoom: 1.5;
// }

// .cardPadding{
//     padding-top: 5px;
//     padding-bottom: 5px;
    
// }

// .cardMargins{
//     margin-top: 10px;
//     margin-bottom: 10px;
// }

// .backnavigation{
//   width:25px; 
//   height:15px; 
//   margin-top: 12.5px;
// }
// .searchcard{
//   background: white;
// }

// .contentcss{
//   font-size: 15px;
//   color:black;
//    padding :5px;
// }

// .ionimgcss{
//   width:15px; 
//   height:15px;
// }


.jobNameCss{
  font-size: 18px;
  color:#2b0c43;
}

.divPadding{
  padding: 3% 5% 0% 5%;
  border-bottom: 1px solid #807b7b5e;
}