// .backnavigation{
//     width:25px; 
//     height:15px; 
//     margin-top: 12.5px;
//   }
  // .searchcard{
  //   background: white;
  // }

  // .contentcss{
  //   font-size: 15px;
  //   color:#2b0c43;
  //    padding :5px;
  // }

  .ionimgcss{
    color: #2b0c43;
    font-size: 15px;
    // width:15px; 
    // height:15px;
  }

  .locationNameCss{
    font-size: 15px;
    color:#2b0c43;
    margin-top:-5px;
  }

  .locationCss{
    color: #2b0c43;
    padding-right:2px;
    width:20px; 
    height:20px;
  //  font-size: 15px
  }

  .experienceCss{
    font-size: 15px;
    color:#2b0c43;
    margin-top:1px;
  }

  

  .postedDaysCss{
    font-size: 15px;
    color:#2b0c43;
     padding :5px; 
  }

  .divPadding{
    padding: 3% 5% 0% 5%;
    border-bottom: 1px solid #807b7b5e;
  }

  .icon{
    font-size: larger;
  }

  .noSearchResult{
    text-align: center;
    padding: 10%;
    font-size: larger;
  }



  
 