<ion-toolbar class="new-background-color">
    <ion-item lines="none" class="new-background-color">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
          </ion-buttons>
    <!-- <ion-icon (click)="closePage()" name="close" style=" color: #2b0c43"></ion-icon> -->
    <ion-title style="margin-left: 5%; color: #2b0c43">Post Job</ion-title>
    </ion-item>
   </ion-toolbar>
   
<ion-content>
    <h5 align="center" style="margin-top:50%">Coming Soon...!</h5>

<!-- 
  <ion-item class="itemmargin" style="margin-top:20px">
    <ion-label position="floating">
      Job Title
    </ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle"></ion-input>
  </ion-item>

  <ion-item class="itemmargin">
    <ion-label position="floating">
      Description
    </ion-label>
    <ion-input type="text" name="description" [(ngModel)]="description"></ion-input>
  </ion-item>

  <ion-item class="itemmargin">
    <ion-label position="floating">
      Disability
    </ion-label>
    <ion-input type="text" name="disability" [(ngModel)]="disability"></ion-input>
  </ion-item>

  <ion-item class="itemmargin">
    <ion-label position="floating">
      Salary
    </ion-label>
    <ion-input type="text" name="salary" [(ngModel)]="salary"></ion-input>
  </ion-item>

  <ion-row>
    <ion-col size="5">
  <ion-item class="itemmargin">
    <ion-label position="floating">
      Vacancies
    </ion-label>
    <ion-input type="text" name="vacancies" [(ngModel)]="vacancies" ></ion-input>
  </ion-item>
</ion-col>
  <ion-col size="7">

  <ion-item class="itemmargin">
    <ion-label position="floating">
      Last date for applying
    </ion-label>
    <ion-input type="text" name="lastdate" [(ngModel)]="lastdate" ></ion-input>
  </ion-item>
</ion-col>
</ion-row>

<div class="saveButtonPadding bottomposition">
    <button class="buttonfont" (click)="postJob()">Post</button>
  </div> -->
</ion-content>