.headingLabel{
    color:#2b0c43;
    font-size:12px;
    font-weight:bold;
    }
    
    .contentInfo{
    font-size:15px;
    color:#2b0c43;
    display: inline-block;
    }
    
    .candidateProfileIcon{
    color: #2b0c43;
    width: 25px;
    height: 25px;
    }
    
    .imagecss{
    width:15px; 
    height:15px;
    margin-right:10px; 
    margin-top:3px;
    }
    
    .inoItem{
    --padding-start: 0%;
    
    }