
// .bottomposition{
//     position: fixed;
//     left: 10px;
//     bottom: 0;
//     right: 10px;
// }

.rightposition{
    // position: fixed;
    left: 0px;
}

.headingLabel{
    color:#2b0c43;
    font-size:12px;
    font-weight:bold;
    }
    
    .contentInfo{
    font-size:15px;
    color:#2b0c43;
    display: inline-block;
    }
  