<ion-content class="background">
  <ion-img class="jobabilitylogo" aria-label="i2talent logo" alt="i2talent logo"
    src="../../assets/img/jobabilitylogo.png"></ion-img>
  <ion-card class="cardMargins">
    <!-- <ion-row class="formPadding">
      <ion-item lines="none" class="inoItem">
        <div (click)="backtoWelcome()" class="backbutton">
          <img class="backbuttonImage" aria-label="Back navigation button" alt="Back navigation button"
            src="../../assets/img/backnavigation.png">
        </div>
      </ion-item>
      <ion-item lines="none" style="width: 58%;">
        <div class="labelWidth">
          <ion-label align="center" class="authenticationLabel">Login With OTP
          </ion-label>
        </div>
      </ion-item>
    </ion-row> -->

    <ion-row class="formPadding">
      <ion-col size="2" (click)="backtoWelcome()">
        <div >
          <img class="backArrow" aria-label="Back navigation button" alt="Back navigation button"
            src="../../assets/img/backnavigation.png">
        </div>
      </ion-col>
      <ion-col size="9">
        <div class="loginWithOPTLabel">
          <ion-label align="center" class="authenticationLabel">Login With OTP
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <div class="formPadding">
        <form [formGroup]="loginWithOTPForm" (ngSubmit)="loginSuccessWithOTP(loginWithOTPForm.value)">
          <p>
            <mat-form-field class="inputFields">
              <mat-label>Mobile</mat-label>
              <input type="tel" matInput formControlName="mobile" [errorStateMatcher]="esMatcher" pattern="^[0-9]{10}$">
              <mat-icon matSuffix color="warn"
                *ngIf="(loginWithOTPForm.controls.mobile.invalid && loginWithOTPForm.controls.mobile.touched) || (loginWithOTPForm.controls.mobile.invalid  && showErrorIcon && !loginWithOTPForm.controls.mobile.touched)">
                error</mat-icon>
              <mat-error>
                <span *ngIf="loginWithOTPForm.controls.mobile.errors?.required">Mobile number is required.</span>
                <span
                  *ngIf="loginWithOTPForm.controls.mobile.errors?.minlength || loginWithOTPForm.controls.mobile.errors?.maxlength">Please
                  enter valid mobile number.</span>
              </mat-error>
            </mat-form-field>
          </p>
          <button type="submit" class="buttonfont selector loginButton" placeholder="Mobile">SEND OTP</button>
        </form>
      </div>

    </ion-card-content>
  </ion-card>
</ion-content>