ion-content.background{
    --background: url(../../assets/img/backgroundlogin.png) 0 0/100% 70% no-repeat;
}


.cardMargins{
    // height: 50% !important;
    margin-top: 13%;
    width: 94% !important;
    margin-left: 3%;
    margin-right: 3%;
    margin-bottom: 10px;
   background:white;
}

.img{
    height: 70vh;
    width: auto;
    margin: auto;
    display: block;
  }