<ion-content class="background" justify>
  <ion-img class="img" style="width:130px; height:60px;margin-top: 37px;" aria-label="i2talent logo" alt="i2talent logo"
    src="../../assets/img/jobabilitylogo.png">
  </ion-img>
  <ion-card class="cardMargins">
    <ion-card-content style="padding-bottom:20px">
      <br>
      <br>
      <p align="center" style="color: #2b0c43;" [attr.role]="role"><span
          style="font-size: 18px; font-weight: bold;">Thank you!</span><br> <br> Registered Successfully.
        <br><span style="color: white;">Please click on continue button.</span>
      </p>
      <br>
      <br>
      <button (click)="jobseekerDashboard()" class="buttonfont selector">Continue</button>
    </ion-card-content>
  </ion-card>
</ion-content>