<ion-content class="background">
  <ion-img class="jobabilitylogo" aria-label="i2talent logo" alt="i2talent logo"
    src="../../assets/img/jobabilitylogo.png"></ion-img>
  <ion-card class="cardMargins">
    <!-- <ion-row class="formPadding">
      <ion-item lines="none" class="inoItem">
        <div (click)="backtoWelcome()" class="backbutton">
          <img class="backbuttonImage" aria-label="Back navigation button" alt="Back navigation button"
            src="../../assets/img/backnavigation.png">
        </div>
      </ion-item>
      <ion-item lines="none" style="width: 58%;">
        <div class="labelWidth">
          <ion-label align="center" class="authenticationLabel">Forgot Password
          </ion-label>
        </div>
      </ion-item>
    </ion-row> -->

    <ion-row class="formPadding">
      <ion-col size="2" (click)="backtoWelcome()">
        <div>
          <img class="backArrow" aria-label="Back navigation button" alt="Back navigation button"
            src="../../assets/img/backnavigation.png">
        </div>
      </ion-col>
      <ion-col size="9">
        <div class="forgetPasswordLabel">
          <ion-label class="authenticationLabel">Forgot Password
          </ion-label>
        </div>
      </ion-col>
    </ion-row>

    <ion-card-content>
      <div class="formPadding">
        <form [formGroup]="forgotPassForm" (ngSubmit)="forgotPasswordAPI(forgotPassForm.value)">
          <p>
            <mat-form-field class="inputFields">
              <mat-label>Email Id</mat-label>
              <input matInput formControlName="username" [errorStateMatcher]="esMatcher"
                pattern="^[\w-\.]+@([\w-]+\.)+[\w-]{2,}$">
              <mat-icon matSuffix color="warn"
                *ngIf="(forgotPassForm.controls.username.invalid && forgotPassForm.controls.username.touched) || (forgotPassForm.controls.username.invalid && showErrorIcon && !forgotPassForm.controls.username.touched)">
                error</mat-icon>
              <mat-error>
                <span *ngIf="forgotPassForm.controls.username.errors?.required">Email id is required.</span>
                <span *ngIf="forgotPassForm.controls.username.errors?.pattern">Please enter valid email id.</span>
              </mat-error>
            </mat-form-field>
          </p>
          <button type="submit" class="buttonfont selector loginButton" placeholder="Mobile">NEXT</button>
        </form>
      </div>
    </ion-card-content>
  </ion-card>
</ion-content>