.headingLabel{
  color:#2b0c43;
  font-size:12px;
  font-weight:bold;
  }
  
  .contentInfo{
  font-size:15px;
  color:#2b0c43;
  display: inline-block;
  }
  
  .profile-picture {
  padding: 3px;
  border-radius: 100%;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin: 5% auto;
  width: 80px;
  height: 80px;
  overflow: hidden;
  background: #dedede;
  }

  .editContact{
    font-size: x-large;
    float:right;
    color: #2b0c43;
  }

  

  .fileName{
    font-size: 15px;
    color: #2b0c43;
  }