.floatingcss{
    width:90%;
    margin-left: 5%;
    margin-right: 5%;
    font-size:14px;
}

.labelcss{
    margin-top:5%;
    width:90%;
    margin-left: 10%;
    margin-right: 10%;
    font-size:14px;
}