<ion-toolbar class="new-background-color">
  <ion-grid>
  <ion-row>
    <!-- <ion-col (click)="closePage()" size="2" style="padding: 1% 0% 0% 5%;">
      <ion-icon name="close" style=" color: #2b0c43;font-size: x-large;"></ion-icon>

    </ion-col> -->
    <ion-col size="7">
      <ion-title style="color: #2b0c43;margin-top: -2px">Filter</ion-title>

    </ion-col>
    <ion-col size="5" (click)="clearFilterData()">
      <ion-label style="color: #2b0c43;">CLEAR FILTERS</ion-label>

    </ion-col>
  </ion-row>
</ion-grid>
</ion-toolbar>

<ion-content>
  <br>
  <div class="inputDiv">
    <ion-item class="inoItem">
      <ion-label position="floating" class="blacklabel">Keywords (Skills)</ion-label>
      <ion-input class="headerNameCss" clear-on-edit="true" type="text" name="jobtitle" [(ngModel)]="jobtitle"></ion-input>
    </ion-item>
    <ion-item class="inoItem">
        <ion-label position="floating" class="blacklabel">Designation</ion-label>
        <ion-input class="headerNameCss" clear-on-edit="true" type="text" name="designation" [(ngModel)]="designation"></ion-input>
        </ion-item>
    <ion-item class="inoItem">
      <ion-label position="floating" class="blacklabel">Location</ion-label>
      <ion-input class="headerNameCss" clear-on-edit="true" type="text" name="location" [(ngModel)]="location"></ion-input>
    </ion-item>

    <br>

    <ion-row>
      <ion-col size="6">
        <ion-label class="headerNameCss">Min Experience:</ion-label>
        <ion-select class="ionSelectBorder headerNameCss" [(ngModel)]="minExperience" (ionChange)="onChangeMinExperience($event)"
          placeholder="Select Min Experience">
          <ion-select-option *ngFor="let item of min_experience; " [value]="item">
            {{item}}</ion-select-option>
        </ion-select>
      </ion-col>

      <ion-col size="6">
        <ion-label class="headerNameCss">Max Experience:</ion-label>
        <ion-select class="ionSelectBorder headingLabel" [(ngModel)]="maxExperience" (ionChange)="onChangeMaxExperience($event)"
          placeholder="Select Max Experience">
          <ion-select-option *ngFor="let item of max_experience;" [value]="item">
            {{item}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <br>


    <!-- <ion-row>
      <ion-col size="4">
        <ion-label class="headerNameCss">Currency:</ion-label>


      <ion-select class="ionSelectBorder" (ionChange)="onChangeCurrency($event)"
      placeholder="Currency" [(ngModel)]="currency">
      <ion-select-option *ngFor="let item of currncy_list; let i = index"
        [selected]="item.currency==INR" [value]="item.currency">
        {{item.currency}}</ion-select-option>
    </ion-select>
      </ion-col>

      <ion-col size="4">
        <ion-label class="headerNameCss">Min Salary:</ion-label>
        <ion-select class="ionSelectBorder headingLabel" [(ngModel)]="CtcFrom" (ionChange)="onChangeMinSalary($event)" placeholder="Min Salary"
          placeholder="Select Max Experience">
          <ion-select-option *ngFor="let item of annual_ctc_to;" [value]="item">
            {{item}}</ion-select-option>
        </ion-select>
      </ion-col>
      <ion-col size="4">
        <ion-label class="headerNameCss">Max Salary:</ion-label>
        <ion-select class="ionSelectBorder headingLabel" [(ngModel)]="CtcTo" (ionChange)="onChangeMaxSalary($event)" placeholder="Max Salary">
          <ion-select-option *ngFor="let item of annual_ctc_to; " [value]="item">
            {{item}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <br> -->


    <ion-label class="headerNameCss">Disability Type:</ion-label>

    <ion-row>
      <ion-col size="12">
        <ion-select class="ionSelectBorder" [(ngModel)]="disability_id" multiple="true" (ionChange)="onChangeDisability($event)" placeholder="Select Disability">
          <ion-select-option *ngFor="let item of disability_list; "  [value]="item.id">{{item.name}}</ion-select-option>
        </ion-select>
      </ion-col>
    </ion-row>
    <br>
   
    <br>
  </div>
  <div class="saveButtonPadding">
    <button class="buttonfont" (click)="updateResumeFilterDetail()">APPLY</button>
  </div>
</ion-content>