<!-- - <ion-header color="medium"> -->
<ion-toolbar class="new-background-color">
  <ion-item lines="none" class="new-background-color">
    <ion-buttons slot="start">
      <ion-menu-button style="color: #2b0c43"></ion-menu-button>
    </ion-buttons>
    <ion-title style=" color: #2b0c43">My Profile</ion-title>
    <ion-icon class="headerNameCss" name="notifications" (click)="navigateToNotification()"></ion-icon>
    <ion-badge *ngIf="badgecount != 0" id="notifications-badge" color="danger">{{badgecount}}</ion-badge>
  </ion-item>
</ion-toolbar>
<!-- </ion-header> -->

<ion-content>
  <ion-card class="cardMargins">
    <ion-card-header class="profileCardHeader">
      <ion-grid class="cardPadding">
        <ion-row class="profilePageHeaderrow">
          <ion-col size="10">
            <ion-label class="profilePageHeaderStripSection1">CONTACT INFORMATION</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label (click)="updateServiceproviderContactInfo()" class="profilePageHeaderStripSection2">EDIT
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>
    <ion-card-content class="cardPadding">
      <ion-grid>
        <ion-row>
          <ion-col size="8">
            <ion-label class="headingLabel">Name:</ion-label>
            <br>
            <ion-label class="contentInfo">{{serviceProviderDetials.first_name}}</ion-label>
            <br>
            <ion-label class="headingLabel">Email:</ion-label>
            <br>
            <ion-label class="contentInfo">{{serviceProviderDetials.email}}</ion-label>
            <br>
            <div *ngIf="serviceProviderDetials.verify_email == 0">
              <ion-button class="verifyEmail" size="small" shape="round" fill="outline" style="color:red"
                (click)="emailVerification()">Verify</ion-button>
              <br>
            </div>
            <div *ngIf="serviceProviderDetials.verify_email == 1">
              <ion-button class="verifiedEmail" size="small" shape="round" fill="outline" style="color: #2b0c43">
                Verified</ion-button>
              <br>
            </div>
            <ion-label class="headingLabel">Mobile:</ion-label>
            <br>
            <a href="tel:{{serviceProviderDetials.mobile}}" [attr.aria-label]="splitMobile">{{serviceProviderDetials.mobile}}</a>

            <br>

          </ion-col>
          <ion-col size="4">
            <!-- <div class="profile-picture big-profile-picture"></div> -->
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
  <ion-card class="cardMargins">
    <ion-card-header class="profileCardHeader">
      <ion-grid class="cardPadding">
        <ion-row class="profilePageHeaderrow">
          <ion-col size="10">
            <ion-label class="profilePageHeaderStripSection1">ORGANIZATION INFORMATION</ion-label>
          </ion-col>
          <ion-col size="2">
            <ion-label (click)="updateServiceProviderOrganisationInfo()" class="profilePageHeaderStripSection2">EDIT
            </ion-label>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-header>

    <ion-card-content class="cardPadding">
      <ion-grid>
        <ion-row>
          <ion-col size="12">
            <ion-label class="headingLabel">Service Provider Type:</ion-label>
            <br>
            <ion-label class="contentInfo">{{organizationtype}}</ion-label>
            <br>
            <ion-label class="headingLabel">Disability served:</ion-label>
            <br>
            <ion-list *ngFor="let item of disabilitys">
              <ion-label class="contentInfo">{{item.name}}</ion-label>
            </ion-list>
            <ion-label class="headingLabel">Services Offered:</ion-label>
            <br>
            <ion-list *ngFor="let item of serviceType">
              <ion-label class="contentInfo">{{item.name}}</ion-label>
            </ion-list>
            <ion-label class="headingLabel">Year of Establishment:</ion-label>
            <br>
            <ion-label class="contentInfo">{{serviceProviderDetials.year_establishment}}</ion-label>
            <br>
            <ion-label class="headingLabel">Website URL:</ion-label>
            <br>
            <ion-label class="contentInfo">{{serviceProviderDetials.website_url}}</ion-label>

          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>