<ion-header>
  <ion-toolbar>
    <ion-item lines="none">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title>
        Search
      </ion-title>
      <ion-icon name="notifications"></ion-icon>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector" placeholder="Jobtitle, Skills"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Location</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Experiance</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Salary</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Education</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Vacancies</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Last Date for Applying</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Last Date for Applying</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Last Date for Applying</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Last Date for Applying</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Last Date for Applying</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Last Date for Applying</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

    <ion-label style="margin-left:15px;" class="headingLabel">Last Date for Applying</ion-label>
    <ion-input type="text" name="jobtitle" [(ngModel)]="jobtitle" style="margin-top:10px"
      class="backgroundborder selector"></ion-input>

  </ion-list>
</ion-content>
<button class="backgroundborder"
  style="background: #696969; color: white; width: 100% !important; font-weight: bold ; font-size: 18px">See
  Profiles</button>