.cardHeadings{
    font-size: 16px;
    color:#2b0c43; 
  font-weight:bold;
  }
  .cardContents{
    font-size: 16px;
    color:#2b0c43; 
    padding-bottom: 3%;

  }

  .contentInfo{
    font-size:15px;
    color:#2b0c43;
    display: inline-block;
    }

  