.profile-picture {
    padding: 3px;
    border-radius: 100%;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    margin: 5% auto;
    width: 45px;
    height: 45px;
    overflow: hidden;
    background: #dedede;
    }
    