.jobNameCss{
    font-size: 18px;
    color:#2b0c43;
}
.dropDown{
    padding: 3% 7% 3% 3%;
}

.dropDownBorder {
    border-bottom: 1px solid lightgray; 
  }

  .locationPng{
        width:20px;
        height:20px;
  }
  